#dishes_list {
	.dish {
		min-height: 320px;
		position: relative;

		h2 {
			font-size: 25px;
			text-transform: capitalize;
		}

		.description {
		  text-align: justify;
		}

		.create_date {
			margin-top: 10px;
		}

		span {
	  	font-weight: bold;
	  }

	  .actions {
	  	text-align: right;
	  	margin-top: 10px;
	  }

	}
	
  .search {
  	input[type="submit"] {
  		margin-left: 10px;
  	}
  }
}