body {
	margin: 0;
	padding: 0;

	.navbar-link {
	  padding: 10px 20px;
	  background-color: rgb(232, 184, 137);
	  border-radius: 20px;
	}
	.message_devise {
		margin: 0 auto;
		float: none;

		p {
			padding: 10px;
		  text-align: center;
		}
	}
}